//.js .portlet-blogs-aggregator {
.portlet-boundary_com_liferay_blogs_web_portlet_BlogsAgreggatorPortlet_ {

  .entry {

    .entry-info {
      margin-top: 0;
      float: left;
      width: 90px;

      small {
        font-size: 1.0em;

        // Name of author
        strong {
          display: none;
        }

        // Dash between name and date
        span {
          display: none;
        }


      }
    }

    .entry-title {
      margin-left: 100px;
      position: relative;

      h2 {
        font-size: 1.0em;
        font-weight: normal;
        line-height: 1.2em;

        a {
          color: $link-color;
          font-weight: normal;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

      }
    }


  }

  .separator {
    border-color: #bfbfbf;
  }

  .portlet-topper {}


  .portlet-title {
    background: none repeat scroll 0 0 #EFEDE3;
    border-top: 4px solid #CC071E;
    color: #CC071E;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 4px 5px;

    img {
      display: none;
    }
  }


}

// Show portlet title even when admin controls are closed
.custom-admin-controls-closed,
.custom-admin-controls-open {
  .portlet-boundary_com_liferay_blogs_web_portlet_BlogsAgreggatorPortlet_ .portlet .portlet-content {

    .portlet-header {
      display: block;

      .portlet-title-text {
        background: #EFEDE3;
        border-top: 4px solid #CC071E;
        color: #CC071E;
        font-size: 1.1em;
        font-weight: normal;
        margin: 0;
        padding: 4px 5px;
      }
      
    }

  }

}
