.portlet-barebone {}
.portlet-borderless {}

.portlet-decorate {

  .portlet-title-text {
    background: #EFEDE3;
    border-top: 4px solid #CC071E;
    color: #CC071E;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    max-width: 100%;
    padding: 4px 5px;
  }

}




// Show portlet title even when admin controls are closed when decorate is used
.custom-admin-controls-closed,
.custom-admin-controls-open {

  .portlet-decorate {

    .portlet {
      .portlet-content {
        .portlet-header {
          display: block;
        }
      }
    }

  }

}
